{% extends 'registration/registration_base.html' %}
{% block title %}Student LMS | Hisobga Kirish{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}



<body style="background-image: url({% static 'img/login-bac.jpeg' %}); background-size: cover;">

  <div class="col-md-4 mx-auto mt-5" >
    <div class="card" style="background-color: rgba(51, 50, 50, 0.685);">
      <div class="form-title" >
        <img src="{% static 'img/favicon.ico'%}" alt="Nimadur xato bajarildi!"  width="30" height="30">
        Shaxsiy Hisobga kirish 
      </div>
      <div class="card-body">
          <form action="" method="POST" id="login-form">{% csrf_token %}
            <div class="form-group mb-3"  style="color: rgb(255, 233, 233);">
                <label class="mb-2" for="username_id"><i class="fas fa-address-card me-2" style="color: rgb(255, 255, 255);" ></i>Foydalanuvchi nomi</label>
                <input placeholder="Login kiriting" type="text" name="username" id="username_id" class="form-control" required>
                <div id="message-wrapper"></div>
            </div>
            <div class="form-group mb-3"  style="color: rgb(255, 255, 255);">
                <label class="mb-2" for="password_id"><i class="fas fa-key me-2" placeholder="Parolingiz"></i>Fayodalanuvchi paroli</label>
                <input placeholder="Parol kiriting" type="password" name="password" id="password_id" class="form-control" required >
                
            </div>
            {% if form.errors %}
                  <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Ism & Parol noto'g'ri!</span><br>
            {% endif %}
        
            <center><button type="submit" class="btn btn-primary" id="login-btn"><i class="fas fa-sign-in-alt"></i><small> Tizimga kirish </small></button></center>
          </form>
          <br>
          <div class="login-bottom" style="color: rgba(240, 248, 255, 0); backgrgba(0, 0, 0, 0) 0, 0, 0.345); display: inline-block;" >
            <a href="https://forms.gle/Vbuqhwfx7CdB26si9" class="link" >Parolni unutdingizmi ?</a><br>
            <a href="https://t.me/mbin_dev_0071" class="link" >Kirish bo'yicha muommoga duch keldingizmi ?</a>
          </div>
        </div>
    </div>
  </div>
</body>
{% endblock content %}

{% block js %}

<script>
  $('#login-form').submit(function (e) {
    // e.preventDefault();
    $('#login-btn').addClass('disabled')
    $('#login-btn').html(`<i class="fas fa-sign-in-alt"></i> Hisob tekshirilmoqda...`)
  })

  $("#username").on("input", function () {
    username = $(this).val();

    $.ajax({
      url: "/accounts/ajax/validate-username/",
      data: {
        username: username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          console.log(data.is_taken);
          $('#message-wrapper').html(`<p class="my-2 text-danger"><span class="bg-error p-2"><b>${username}</b> already taken :( try another one </span></p>`)
        }
        else {
          $('#message-wrapper').html(`<p class="my-2 text-success"><span class="bg-correct p-2"><b>${username}</b> is valid </span></p>`)
        }
      }

    })
  })
</script>
{% endblock %}



