{% extends 'registration/registration_base.html' %}
{% block title %}Parolni tikllash | Student LMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Emailni yuborish</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Ko'rsatmalar bilan elektron pochta xabari yuborildi
      parolingizni tiklash uchun elektron pochtangizni tekshiring.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Tizimga kirish</a>
  </div>
</div>
{% endblock content %}
