{% extends 'registration/registration_base.html' %}
{% block title %}Parolni tilash | Student LMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Parolni tiklash tugallandi</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Sizning parolingiz o'rnatildi, endi siz tizimga kirishingiz mumkin!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Tizimga kirish</a>
    </div>
</div>
{% endblock content %}
