{% extends 'base.html' %}
{% block title %}{{ title }} | Student LMS{% endblock title %}

{% block content %}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Bosh saxifa</a></li>
      <li class="breadcrumb-item active" aria-current="page">O'quvchilar</li>
    </ol>
</nav>

<!-- <div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> Students</div> -->

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-sm btn-primary" href="{% url 'add_student' %}"><i class="fas fa-plus"></i> O'quvchi qo'shish</a>
</div>
{% endif %}

<div class="title-1"><i class="fas fa-user-graduate"></i>O'quvchilar</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% include 'snippets/filter_form.html' %}

<div class="table-responsive table-shadow table-light table-striped m-0 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th> Foydalanuvchi nomi </th>
                <th> Ism/Familiya </th>
                <th> Email manzil</th>
                <th> O'quv fani </th>
                {% if request.user.is_superuser %}
                <th> Qo'shimcha </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for student in filter.qs %}
            <tr>
                <td> {{ forloop.counter }}.</td>
                <td>{{ student.student.username }} </td>
                <td><a href="{% url 'profile_single' student.student.id %}">{{ student.student.get_full_name }}</a></td>
                <td>{{ student.student.email }} </td>
                <td>{{ student.program }}</td>

                {% if request.user.is_superuser %}
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu position-fixed">
                          <li><a class="dropdown-item" href="{% url 'student_edit' student.student.pk %}"><i class="fas fa-edit"></i> Taxrirlash</a></li>
                          <li><a class="dropdown-item text-danger" href="{% url 'student_delete' student.pk %}"><i class="fas fa-trash-alt"></i> O'chirish</a></li>
                        </ul>
                      </div>
                </td>
                {% endif %}
                
                {% empty %}
                <tr>
                  <td colspan="6">
                  <span class="text-danger">
                    O'quvchi mavjud emas!
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_student' %}">
                    <i class="primary" style="font-size: 22px;">
                       Yangi o'quvchi qo'shish
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
